@{
    ViewBag.Title = "Home Page";
}

<div class="jumbotron img" style="background-image:url('http://www.userlogos.org/files/imagecache/preview/backgrounds/macleod.mac/slate.jpg');">
        <div class="page-header text-center"><h1>Inventory Tool</h1></div>
</div>
 
